@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

@layer components {

    .container {
      @apply mx-auto lg:w-[1024px] lg:px-8 xl:px-16 xl:w-[1280px] md:px-4 sm:w-[640px] sm:px-3 2xl:w-[1536px] 2xl:px-[10];
    }
    /* Custom class for mobile devices */
    @media (max-width: 639px) {
      .mobile-container {
        @apply mx-auto p-1; 
        width: 80%;
      }
    }
  }

